/*    HEX                  RGB      */

$blue: #006497;		// 0   100 151
$dblue: #00486c;
$orange: #f58733;	// 245 135 51  
$green: #97b353; 	// 151 179 83
$yellow: #e4be0b;	// 228 190 11
$red: #e54119;		// 229 65  25
$gray: #454A4A;		// 69  74  74
$lgray: #bfbfbf;
