amqp
anyjson
argh
BeautifulSoup
blinker
boto
docopt
docutils
ecdsa
Fabric
httplib2
lxml
Mako
msgpack-python
mysolr
MySQL-python
paramiko
pathtools
phonenumbers
Pillow
prettytable
psutil
pycrypto
python-cjson
python-dateutil
PyYAML
pyzmq
pyramid-chameleon
pyramid-debugtoolbar
pyramid
requests
scrypt
sh
simplejson
six
SQLAlchemy
termcolor
textblob
tldextract
twilio
ujson
unittest2
watchdog
waitress
xlsxwriter